asgiref==3.7.2
cachetools==5.3.3
certifi==2024.7.4
charset-normalizer==3.3.2
colorama==0.4.6
distlib==0.3.6
dj-database-url==2.1.0
Django==4.2.3
filelock==3.12.0
google-auth==2.31.0
google-auth-oauthlib==1.2.0
gspread==6.1.2
idna==3.7
oauthlib==3.2.2
platformdirs==3.5.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pyfiglet==1.0.2
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
sqlparse==0.4.4
typing_extensions==4.9.0
tzdata==2023.3
urllib3==2.2.2
virtualenv==20.23.0
virtualenvwrapper-win==1.2.7
